<div id="reviews" class="reviews bt">
  <h4 class="product-section-title">Customer reviews & ratings</h4>
  <% if Spree::Reviews::Config[:include_unapproved_reviews] == false and @approved_reviews.count == 0 %>
    <p class="reviews-none mt-3"><%= Spree.t(:no_reviews_available) %></p>
    <div class="reviews-button">
      <%= link_to Spree.t(:write_your_own_review), new_product_review_path(@product), class: 'btn btn-outline', rel: 'nofollow' %>
    </div>
  <% else %>
    <%= render 'spree/shared/rating_detail', product: @product, review: 0 %>
    <% for review in @approved_reviews %>
      <%= render 'spree/shared/review', review: review %>
    <% end %>
  <% end %>

  <% if @approved_reviews.respond_to?(:total_pages) %>
    <div class="row mt-4 mb-3 review-pagination">
      <div class="col-12">
        <div class="plp-pagination ">
          <%= paginate @approved_reviews, window: 1, theme: 'twitter-bootstrap-4' %>
        </div>
      </div>
    </div>
  <% end %>

  <div class="modal review-image-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header pb-0 px-4 pt-4 border-0">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <%= icon(name: 'close',
                     classes: 'd-block d-lg-none',
                     width: 16,
                     height: 16) %>
            <%= icon(name: 'close',
                     classes: 'd-none d-lg-block',
                     width: 30,
                     height: 30) %>
          </span>
          </button>
        </div>
        <div class="modal-body p-4 text-center">
          <img class="modal-img"/>
        </div>

      </div>
    </div>
  </div>

</div>
